<h1 class="page-heading">{{ 'general.404.title' | t }}</h1>
<p>{{ 'general.404.subtext_html' | t }}</p>
<h2>{{ 'general.404.cause.title' | t }}</h2>
<ul>
  {{ 'general.404.cause.bulletpoints_html' | t }}
</ul>
<h2>{{ 'general.404.action.title' | t }}</h2>
<ul>
  {{ 'general.404.action.bulletpoints_html' | t }}
</ul>
