<div class="noflex-container">
  <h2 class="shop-heading shop-heading__no-margin">{{ shop.name }} Shop</h2>
  <h1>{{ 'cart.general.title' | t }}</h1>
</div>
{% if cart.item_count > 0 %}
  <div class="flex-container cart">
    <form action="/cart" method="post" novalidate>
      <div class="cart__table">
        <div class="cart__table--head">
          <span>&nbsp;</span>
          <span>{{ 'cart.label.product' | t }}</span>
          <span>{{ 'cart.label.price' | t }}</span>
          <span>{{ 'cart.label.quantity' | t }}</span>
          <span>{{ 'cart.label.total' | t }}</span>
        </div>
        <div class="cart__table--body">
          {% for item in cart.items %}
            <div class="cart__table--row">
              <div class="cart__table--image">
                <a href="{{ item.url | within: collections.all }}">
                  <img src="{{ item | img_url: '240x240' }}" alt="{{ item.title | escape }}">
                </a>
              </div>
              <div class="cart__table--product">
                <a href="{{ item.url }}">{{ item.product.title }}</a>

                {% unless item.variant.title contains 'Default' %}
                <p>{{ item.variant.title }}</p>
                {% endunless %}

                <p>{{ item.vendor }}</p>

                {%- assign property_size = item.properties | size -%}

                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </div>
              <div class="cart__table--price">
                {% if item.original_line_price != item.line_price %}
                  <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                  {{ item.price | money }}
                  <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                  <s>{{ item.original_price | money }}</s>
                {% else %}
                  {{ item.price | money }}
                {% endif %}
              </div>
              <div class="cart__table--quantity">
                <input type="number"
                       name="updates[]"
                       id="updates_{{ item.key }}"
                       value="{{ item.quantity }}"
                       min="0"
                       aria-label="{{ 'cart.general.item_quantity' | t }}">
              </div>
              <div class="cart__table--total">
                {{ item.line_price | money }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="flex-container">
        <div class="flex-container--two-thirds cart__special-instructions">
          {% if settings.cart_notes_enable %}
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          {% endif %}
        </div>
        <div class="flex-container--one-third">
          <p>{{ 'cart.general.subtotal' | t }}</p>
          <p>{{ cart.total_price | money }}</p>
          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
          {% endif %}
          <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
          <input type="submit" name="update" value="{{ 'cart.general.update' | t }}" class="button button--secondary">
          <input type="submit" name="checkout" class="button" value="{{ 'cart.general.checkout' | t }}">
        </div>
      </div>
    </form>
  </div>
{% else %}
  <div class="noflex-container">
    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  </div>
{% endif %}
