{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<div class="flex-container list-collections">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' or collection.products.count == 0 %}
      <div class="list-collections__collection">
        <div class="list-collections__collection__header">
          <h2><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection.title }}">{{ collection.title }}</a></h2>
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection.title }}" class="list-collections__collection__header__more">{{ 'collections.general.more' | t }} {{ collection.title }} &rsaquo;</a>
        </div>
        <div class="product-grid noflex-container">
          <div class="product-grid__products">
            {% for product in collection.products limit: 4 %}
              <div class="product-grid__single">
                {% include 'product.image-frame', product: product %}
                <a href="{{ product.url }}" class="product-grid__title">{{ product.title }}</a>
                <p class="product-grid__price">{{ product.price | money }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>
