<div class="collection__view-sort__options">
  {{ 'collections.views.change' | t }}
  <div class="collection__view-sort__options--group">
    <a href="#" data-view="grid">
      <span class="visually-hidden">{{ 'collections.views.grid' | t }}</span> {% include 'icon-grid-view' %}
    </a>
    <a href="#" data-view="list">
      <span class="visually-hidden">{{ 'collections.views.list' | t }}</span> {% include 'icon-list-view' %}
    </a>
  </div>
</div>
<div class="collection__view-sort__options">
  <form action="" method="get">
    <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
    <select name="sort_by" id="SortBy">
      <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
      <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
      <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
      <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
      <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
      <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
      <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
      <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
    </select>
    <button type="submit" class="button">{{ 'collections.sorting.button' | t }}</button>
  </form>
</div>
