{% if collection.all_tags.size > 0 %}
  <ul class="collection__filters">
    <span class="collection__filters--heading">{{ 'collections.title' | t }}</span>
    {% if current_tags == blank %}
        <li class="collection__filters--active"><a href="{{ collection.url }}">{{ 'collections.all' | t }}</a></li>
      {% else %}
        <li><a href="{{ collection.url }}">{{ 'collections.all' | t }}</a></li>
      {% endif %}
    {% for tag in collection.all_tags %}
      {% unless tag contains 'price-' or tag contains 'vendor-' %}
        {% if current_tags contains tag %}
          <li class="collection__filters--active">
            {{ tag | link_to_tag: tag }}
          </li>
        {% else %}
          <li>
            {{ tag | link_to_tag: tag }}
          </li>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </ul>
  {% if collection.all_tags contains 'price-under-5' %}
    <ul class="collection__filters">
      <span class="collection__filters--heading">{{ 'collections.filter_by' | t: title: 'Price' }}</span>
        {% if current_tags contains 'price-under-5' %}
          <li class="collection__filters--active">{{ 'Under £5' | link_to_remove_tag: 'price-under-5' }}</li>
        {% else %}
          <li>{{ 'Under £5' | link_to_tag: 'price-under-5' }}</li>
        {% endif %}
        {% if current_tags contains 'price-5-25' %}
          <li class="collection__filters--active">{{ '£5-£25' | link_to_remove_tag: 'price-5-25' }}</li>
        {% else %}
          <li>{{ '£5-£25' | link_to_tag: 'price-5-25' }}</li>
        {% endif %}
        {% if current_tags contains 'price-25-50' %}
          <li class="collection__filters--active">{{ '£25-£50' | link_to_remove_tag: 'price-25-50' }}</li>
        {% else %}
          <li>{{ '£25-£50' | link_to_tag: 'price-25-50' }}</li>
        {% endif %}
        {% if current_tags contains 'price-over-50' %}
          <li class="collection__filters--active">{{ 'Over £50' | link_to_remove_tag: 'price-over-50' }}</li>
        {% else %}
          <li>{{ 'Over £50' | link_to_tag: 'price-over-50' }}</li>
        {% endif %}
    </ul>
  {% endif %}
  {% if collection.all_tags contains 'vendor-house-of-commons' %}
    <ul class="collection__filters">
      <span class="collection__filters--heading">{{ 'collections.filter_by' | t: title: 'Vendor' }}</span>
        {% if current_tags contains 'vendor-house-of-commons' %}
          <li class="collection__filters--active">{{ 'House of Commons' | link_to_remove_tag: 'vendor-house-of-commons' }}</li>
        {% else %}
          <li>{{ 'House of Commons' | link_to_tag: 'vendor-house-of-commons' }}</li>
        {% endif %}
        {% if current_tags contains 'vendor-house-of-lords' %}
          <li class="collection__filters--active">{{ 'House of Lords' | link_to_remove_tag: 'vendor-house-of-lords' }}</li>
        {% else %}
          <li>{{ 'House of Lords' | link_to_tag: 'vendor-house-of-lords' }}</li>
        {% endif %}
        {% if current_tags contains 'vendor-uk-parliament' %}
          <li class="collection__filters--active">{{ 'UK Parliament' | link_to_remove_tag: 'vendor-uk-parliament' }}</li>
        {% else %}
          <li>{{ 'UK Parliament' | link_to_tag: 'vendor-uk-parliament' }}</li>
        {% endif %}
    </ul>
  {% endif %}
{% endif %}
