<header class="site-header" role="banner">
  <div class="container">
    <div class="grid">
      <div class="grid-cell">
        {% if template.name == 'index' %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url" title="{{ shop.name }}"><img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}"></a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
      <div class="grid-cell grid-cell-1of3">
        <a href="/cart" class="site-header__cart">
          {% include 'icon-cart' %}
          {{ 'layout.cart.title' | t }}
          ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }} {{ cart.total_price | money }})
        </a>
        {% include 'search-bar' %}
      </div>
    </div>
  </div>
</header>

<!-- Desktop navigation -->
<nav class="site-navigation" role="navigation">
  <ul class="site-navigation__menu">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <li class="site-navigation__menu__item{% if link.active %} site-navigation__menu__item--active{% endif %}">
          <a href="{{ link.url }}" title="{{ link.title }}">
            {{ link.title }}
            <span class="site-navigation--caret">{% include 'icon-arrow-down' %}</span>
          </a>
          <div class="site-navigation__menu__submenu">
            <ul class="site-navigation__menu__submenu--group">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-navigation__menu__item--active"{% endif %}>
                  <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
