<header class="site-header">
  <div class="container">
    <div class="grid">
      <div class="grid-cell">
        {% if template.name == 'index' %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div itemscope itemtype="http://schema.org/Organization">
        {% endif %}
            <a href="/" itemprop="url"><img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}"></a>
        {% if template.name == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}
      </div>
      <div class="grid-cell grid-cell-1of3">
        <a href="/cart" class="site-header__cart">
          {% include 'icon-cart' %}
          {{ 'layout.cart.title' | t }}
          ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }} {{ cart.total_price | money }})
        </a>
        {% include 'search-bar' %}
      </div>
    </div>
  </div>
</header>

<nav class="site-navigation">
  <ul class="site-navigation__menu">
    {% for link in linklists[section.settings.main_linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {% if menus[child_list_handle].links != blank %}
        <li class="site-navigation__menu__item{% if link.active %} site-navigation__menu__item--active{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
            <span class="site-navigation--caret">{% include 'icon-arrow-down' %}</span>
          </a>
          <div class="site-navigation__menu__submenu">
            <ul class="site-navigation__menu__submenu--group">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-navigation__menu__item--active"{% endif %}>
                  <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="site-navigation--mobile">
  <input type="checkbox" id="menu-toggle" class="site-navigation__menu--toggle">
  <label class="site-navigation--mobile__button" for="menu-toggle">{% include 'icon-hamburger' %}</label>
  <a href="/cart" class="site-navigation--mobile__button"><span class="visually-hidden">{{ 'cart.general.title' | t }}</span> {% include 'icon-cart' %}</a>
  <nav class="site-navigation--mobile__nav">
    <div class="site-navigation--mobile__nav--heading">
      <h3>{{ 'layout.browse' | t }}</h3>
      <label class="menu-toggle" for="menu-toggle">{% include 'icon-close' %}</label>
    </div>
    {% include 'search-bar', type: 'mobile' %}
    <ul>
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
          <li>
            <a href="{{ link.url }}"{% if link.active %} class="site-navigation--mobile--active"{% endif %}>
              {{ link.title }}
            </a>
            {% if menus[child_list_handle].links != blank %}
              <input type="checkbox" id="menu-toggle-{{ child_list_handle }}" class="site-navigation__menu--toggle">
              <label class="site-navigation--mobile__button" for="menu-toggle-{{ child_list_handle }}">{% include 'icon-plus' %}</label>
              <ul class="site-navigation__menu__submenu">
                {% for childlink in menus[child_list_handle].links %}
                  <li {% if childlink.active %}class="site-navigation__menu__item--active"{% endif %}>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
  </nav>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
