<div class="alert-bar alert-bar__green">
  <div class="noflex-container">{{ 'general.alerts.free_delivery_html' | t: price: '£50' }}</div>
</div>

<header class="site-header" role="banner">
  <div class="flex-container flex-container__vertical-center">
    <div class="flex-container--two-thirds">
      {% if template.name == 'index' %}
        <h1 itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1" itemscope itemtype="http://schema.org/Organization">
      {% endif %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}
    </div>
    <div class="flex-container--one-third">
      <a href="/cart" class="site-header__cart">
        {% include 'icon-cart' %}
        {{ 'layout.cart.title' | t }}
        ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }} {{ cart.total_price | money }})
      </a>

      <form action="/search" method="get" role="search" class="site-header__search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="btn">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>
  </div>
</header>

<label for="site-navigation__mobile-menu-button" class="site-navigation__mobile-menu-button">
  {% include 'icon-hamburger' %}
  <a href="/cart">{% include 'icon-cart' %}</a>
</label>
<input type="checkbox" id="site-navigation__mobile-menu-button" class="site-navigation__mobile-menu-button-input">

<nav role="navigation" class="site-navigation">
  <div class="flex-container">
    <div class="site-navigation__mobile-extras">
      <div class="site-navigation__mobile-extras__heading">
        <h3>Browse</h3>
        <label for="site-navigation__mobile-menu-button" class="site-navigation__mobile-menu-button-inset">{% include 'icon-close' %}</label>
      </div>
      <form action="/search" method="get" role="search" class="site-header__search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="btn">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
    </div>
    <ul class="site-navigation__list">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-navigation--has-submenu{% if link.active %} site-navigation--active{% endif %}">
            <a href="{{ link.url }}" class="site-navigation__link">
              {{ link.title }}
              <span class="site-navigation--caret">{% include 'icon-arrow-down' %}</span>
            </a>
            <label for="drop-{{ child_list_handle }}" class="site-navigation--plus">&plus;</label>
            <input type="checkbox" id="drop-{{ child_list_handle }}">
            <ul class="site-navigation__submenu">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-navigation--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-navigation__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-navigation--active"{% endif %}>
            <a href="{{ link.url }}" class="site-navigation__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
