{% if section.settings.show_offers_bar %}
  <div class="container">
    <div class="grid">
      {% for block in section.blocks %}
        {% capture left-icon %}icon-{{block.settings.left-icon}}.svg{% endcapture %}
        {% capture center-icon %}icon-{{block.settings.center-icon}}.svg{% endcapture %}
        {% capture right-icon %}icon-{{block.settings.right-icon}}.svg{% endcapture %}
        <div class="grid-cell grid-cell-1of3">
          <div class="offers-bar__icon">
            <img src="{{ left-icon | asset_url }}" role="presentation" alt="">
          </div>
          <div class="offers-bar__description">
            {% if block.settings.left-url %}
              <strong><a href="{{ block.settings.left-url }}">{{ block.settings.left-title }}</a></strong>
            {% else %}
              <strong>{{ block.settings.left-title }}</strong>
            {% endif %}
            <p>{{ block.settings.left-description }}</p>
          </div>
        </div>
        <div class="grid-cell grid-cell-1of3">
          <div class="offers-bar__icon">
            <img src="{{ center-icon | asset_url }}" role="presentation" alt="">
          </div>
          <div class="offers-bar__description">
            {% if block.settings.center-url %}
              <strong><a href="{{ block.settings.center-url }}">{{ block.settings.center-title }}</a></strong>
            {% else %}
              <strong>{{ block.settings.center-title }}</strong>
            {% endif %}
            <p>{{ block.settings.center-description }}</p>
          </div>
        </div>
        <div class="grid-cell grid-cell-1of3">
          <div class="offers-bar__icon">
            <img src="{{ right-icon | asset_url }}" role="presentation" alt="">
          </div>
          <div class="offers-bar__description">
            {% if block.settings.right-url %}
              <strong><a href="{{ block.settings.right-url }}">{{ block.settings.right-title }}</a></strong>
            {% else %}
              <strong>{{ block.settings.right-title }}</strong>
            {% endif %}
            <p>{{ block.settings.right-description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Offers Bar",
    "class": "offers-bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_offers_bar",
        "label": "Show offers bar",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "offers-bar-content",
        "name": "Content",
        "limit": 1,
        "settings": [
          {
            "id": "left-icon",
            "type": "radio",
            "options": [
              { "value": "tag-blue", "label": "Tag icon, blue" },
              { "value": "people-multi", "label": "People icon, multicoloured" },
              { "value": "mouse-yellow", "label": "Mouse icon, yellow" },
              { "value": "mail-green", "label": "Mail icon, green" }
            ],
            "label": "Left block icon"
          },
          {
            "id": "left-title",
            "type": "text",
            "label": "Left block title"
          },
          {
            "id": "left-description",
            "type": "text",
            "label": "Left block description"
          },
          {
            "id": "left-url",
            "type": "url",
            "label": "Left block URL"
          },
          {
            "id": "center-icon",
            "type": "radio",
            "options": [
              { "value": "tag-blue", "label": "Tag icon, blue" },
              { "value": "people-multi", "label": "People icon, multicoloured" },
              { "value": "mouse-yellow", "label": "Mouse icon, yellow" },
              { "value": "mail-green", "label": "Mail icon, green" }
            ],
            "label": "Center block icon"
          },
          {
            "id": "center-title",
            "type": "text",
            "label": "Center block title"
          },
          {
            "id": "center-description",
            "type": "text",
            "label": "Center block description"
          },
          {
            "id": "center-url",
            "type": "url",
            "label": "Center block URL"
          },
          {
            "id": "right-icon",
            "type": "radio",
            "options": [
              { "value": "tag-blue", "label": "Tag icon, blue" },
              { "value": "people-multi", "label": "People icon, multicoloured" },
              { "value": "mouse-yellow", "label": "Mouse icon, yellow" },
              { "value": "mail-green", "label": "Mail icon, green" }
            ],
            "label": "Right block icon"
          },
          {
            "id": "right-title",
            "type": "text",
            "label": "Right block title"
          },
          {
            "id": "right-description",
            "type": "text",
            "label": "Right block description"
          },
          {
            "id": "right-url",
            "type": "url",
            "label": "Right block URL"
          }
        ]
      }
    ]
  }
{% endschema %}
