<div class="tiles" data-section-id="{{ section.id }}" data-section-type="tiles">
  <h2 class="visually-hidden">{{ 'layout.featured_collections' | t }}</h2>
  {% for block in section.blocks %}
    <div class="grid">
      {% case block.type %}
        {% when 'full-width-tile' %}
          <div class="grid-cell grid-cell-1of1">
            <a href="{{ block.settings.full-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.full-width-tile-image | img_url: 'x400' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.full-width-tile-title }}</h3>
            </a>
          </div>
        {% when 'half-width-tiles' %}
          <div class="grid-cell grid-cell-1of2-1of1">
            <a href="{{ block.settings.left-half-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.left-half-width-tile-image | img_url: 'x367' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.left-half-width-tile-title }}</h3>
            </a>
          </div>
          <div class="grid-cell grid-cell-1of2-1of1">
            <a href="{{ block.settings.right-half-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.right-half-width-tile-image | img_url: 'x367' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.right-half-width-tile-title }}</h3>
            </a>
          </div>
        {% when 'third-width-tiles' %}
          <div class="grid-cell grid-cell-1of3-1of1">
            <a href="{{ block.settings.left-third-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.left-third-width-tile-image | img_url: 'x241' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.left-third-width-tile-title }}</h3>
            </a>
          </div>
          <div class="grid-cell grid-cell-1of3-1of1">
            <a href="{{ block.settings.center-third-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.center-third-width-tile-image | img_url: 'x241' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.center-third-width-tile-title }}</h3>
            </a>
          </div>
          <div class="grid-cell grid-cell-1of3-1of1">
            <a href="{{ block.settings.right-third-width-tile-link }}">
              <img role="presentation" src="{{ block.settings.right-third-width-tile-image | img_url: 'x241' }}" alt="">
              <h3 class="tile--heading">{{ block.settings.right-third-width-tile-title }}</h3>
            </a>
          </div>
      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Tiles",
    "blocks": [
      {
        "type": "full-width-tile",
        "name": "Full-width tile",
        "settings": [
          {
            "type": "text",
            "id": "full-width-tile-title",
            "label": "Full-width tile title"
          },
          {
            "type": "url",
            "id": "full-width-tile-link",
            "label": "Full-width tile link"
          },
          {
            "type": "image_picker",
            "id": "full-width-tile-image",
            "label": "Full-width tile image"
          }
        ]
      },
      {
        "type": "half-width-tiles",
        "name": "Half-width tiles",
        "settings": [
          {
            "type": "text",
            "id": "left-half-width-tile-title",
            "label": "Left half-width tile title"
          },
          {
            "type": "url",
            "id": "left-half-width-tile-link",
            "label": "Left half-width tile link"
          },
          {
            "type": "image_picker",
            "id": "left-half-width-tile-image",
            "label": "Left half-width tile image"
          },
          {
            "type": "text",
            "id": "right-half-width-tile-title",
            "label": "Right half-width tile title"
          },
          {
            "type": "url",
            "id": "right-half-width-tile-link",
            "label": "Right half-width tile link"
          },
          {
            "type": "image_picker",
            "id": "right-half-width-tile-image",
            "label": "Right half-width tile image"
          }
        ]
      },
      {
        "type": "third-width-tiles",
        "name": "Third-width tiles",
        "settings": [
          {
            "type": "text",
            "id": "left-third-width-tile-title",
            "label": "Left third-width tile title"
          },
          {
            "type": "url",
            "id": "left-third-width-tile-link",
            "label": "Left third-width tile link"
          },
          {
            "type": "image_picker",
            "id": "left-third-width-tile-image",
            "label": "Left third-width tile image"
          },
          {
            "type": "text",
            "id": "center-third-width-tile-title",
            "label": "Center third-width tile title"
          },
          {
            "type": "url",
            "id": "center-third-width-tile-link",
            "label": "Center third-width tile link"
          },
          {
            "type": "image_picker",
            "id": "center-third-width-tile-image",
            "label": "Center third-width tile image"
          },
          {
            "type": "text",
            "id": "right-third-width-tile-title",
            "label": "Right third-width tile title"
          },
          {
            "type": "url",
            "id": "right-third-width-tile-link",
            "label": "Right third-width tile link"
          },
          {
            "type": "image_picker",
            "id": "right-third-width-tile-image",
            "label": "Right third-width tile image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tiles",
        "category": "Tiles"
      }
    ]
  }
{% endschema %}
